apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: chatbot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: kwonjh0406/chatbot-fe:IMAGE_TAG
        ports:
        - containerPort: 3000
